<div
  class="header-container"
  fxLayout="row"
  fxLayoutAlign="space-around center"
>
  <div class="logo">
    <img src="assets/images/png/name.png" alt="wavy-effect">
  </div>
  <span class="spacer"></span>
  <div
    class="navigation-menu-list"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="space-around center"
  >
    <app-nav-menu-btn
      *ngFor="let eachMenu of navMenu; let i = index;"
      (click)="selectedBtn(i, eachMenu.btnName)"
      [menu]="eachMenu"
      [currentIndex]="i"
      [selectedIndex]="selectedIndex"
    ></app-nav-menu-btn>
  </div>
</div>
