<div class="send-message-form-container">
  <form>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Love to hear from you</mat-label>
      <textarea rows="5" matInput placeholder="Leave Us a Comment..."></textarea>
    </mat-form-field>
  </form>
  <div class="button">
    <button mat-raised-button>Send Message</button>
  </div>
</div>
