.about-page-container {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  font-weight: 700;
  letter-spacing: 2pt;
  margin-top: 20px;
}

.line {
  width: 25px;
  border: 1px solid #121315;
  background-color: #121315;
  margin-top: 20px;
}

.description {
  width: 75%;
  font-size: 18px;
  letter-spacing: 2pt;
  line-height: normal;
}

.skill-set .icon {
  height: 30px;
  width: 30px;
}

.skill-set-heading {
  font-weight: 500;
}


.left {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(182, 167, 148, 0.65)), url("../../../assets/images/jpg/me.jpg");
  background-size: cover;
}


.right {
}
