<!--<div-->
<!--  class="about-page-container"-->
<!--  fxLayout="column"-->
<!--  fxLayoutAlign="space-evenly center"-->
<!--&gt;-->
<!--  <div class="heading">-->
<!--    ABOUT-->
<!--    <hr class="line">-->
<!--  </div>-->
<!--  <div class="description">-->
<!--    Hello, I'm Abhijit, a web developer, DIY enthusiast, and photographer, based out of Pune In my free time, I enjoy-->
<!--    DIY-->
<!--    projects, creating something new out of raw materials, and capturing the beauty of the world through my camera lens.-->
<!--    I'm always up for a new challenge and love bringing creative ideas to life. Let's collaborate on your next web-->
<!--    project, DIY creation, or photo shoot. Contact me to get started.-->
<!--  </div>-->
<!--  <div-->
<!--    class="skill-set-row"-->
<!--    fxLayout="row"-->
<!--    fxLayoutAlign="space-around center"-->
<!--    fxLayoutGap="30"-->
<!--  >-->
<!--    <div-->
<!--      class="skill-set"-->
<!--      fxLayout="column"-->
<!--      fxLayoutAlign="space-around center"-->
<!--      fxLayoutGap="15"-->
<!--    >-->
<!--      <mat-icon-->
<!--        class="icon"-->
<!--        [svgIcon]="'crop'"-->
<!--      ></mat-icon>-->
<!--      <div class="skill-set-heading">-->
<!--        WEB DESIGN-->
<!--      </div>-->
<!--      <div-->
<!--        class="skill-set-description">-->
<!--        Strip steak turducken kevin salami, boudin landjaeger jowl.-->
<!--      </div>-->

<!--    </div>-->
<!--    <div-->
<!--      class="skill-set"-->
<!--      fxLayout="column"-->
<!--      fxLayoutAlign="space-around center"-->
<!--      fxLayoutGap="15"-->
<!--    >-->
<!--      <mat-icon-->
<!--        class="icon"-->
<!--        [svgIcon]="'desktop'"-->
<!--      ></mat-icon>-->
<!--      <div class="skill-set-heading">-->
<!--        UI/UX DESIGN-->
<!--      </div>-->
<!--      <div-->
<!--        class="skill-set-description">-->
<!--        Strip steak turducken kevin salami, boudin landjaeger jowl.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div-->
<!--      class="skill-set"-->
<!--      fxLayout="column"-->
<!--      fxLayoutAlign="space-around center"-->
<!--      fxLayoutGap="15"-->
<!--    >-->
<!--      <mat-icon-->
<!--        class="icon"-->
<!--        [svgIcon]="'code'"-->
<!--      ></mat-icon>-->
<!--      <div class="skill-set-heading">-->
<!--        FRONTEND-->
<!--      </div>-->
<!--      <div-->
<!--        class="skill-set-description">-->
<!--        Strip steak turducken kevin salami, boudin landjaeger jowl.-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->


<div
  class="about-page-container"
  fxLayout="row"
>
  <div
    class="left"
    fxFlex="50"
  >
  </div>
  <div
    class="right"
    fxFlex="50"
    fxLayoutAlign="center center"
    fxLayout="column"
  >
    <div
      class="heading"
    >
      ABOUT ME
      <hr class="line">
    </div>
    <div class="description">
      Hello, I'm Abhijit, a professional web developer, DIY enthusiast, photographer, and amateur astronomer, based out
      of Pune, I have a passion for creating custom, user-friendly websites that meet my clients' needs.
      <br>When I'm not working on web development projects, I enjoy exploring my creative side through DIY projects and
      photography. I also love amateur astronomy and stargazing, and often spend my nights observing and photographing
      celestial objects.
      <br>As a web developer, I am dedicated to staying current with the latest industry trends and technologies, and
      providing my clients with the best possible solutions. I work closely with my clients to ensure effective
      communication and a deep understanding of their needs and goals, and deliver exceptional results.
      If you're looking for a professional web developer, DIY enthusiast, photographer, or amateur astronomer to
      collaborate on a project, I'm always up for a new challenge,
      <br>Let's collaborate on your next web project contact me to get started.

    </div>

  </div>
</div>
