<div
  class="about-page-container"
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
>
  <div class="heading">
    ABOUT
    <hr class="line">
  </div>
  <div class="description">
    Chuck shankle drumstick pancetta venison alcatra ham turducken short ribs frankfurter brisket meatloaf.Jerky
    brisket beef ribs ham hock pig drumstick corned beef hamburger pancetta biltong fatback. Biltong swine beef ribs.
  </div>
  <div
    class="skill-set-row"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="30"
  >
    <div
      class="skill-set"
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="15"
    >
      <mat-icon
        class="icon"
        [svgIcon]="'crop'"
      ></mat-icon>
      <div class="skill-set-heading">
        WEB DESIGN
      </div>
      <div
        class="skill-set-description">
        Strip steak turducken kevin salami, boudin landjaeger jowl.
      </div>

    </div>
    <div
      class="skill-set"
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="15"
    >
      <mat-icon
        class="icon"
        [svgIcon]="'desktop'"
      ></mat-icon>
      <div class="skill-set-heading">
        UI/UX DESIGN
      </div>
      <div
        class="skill-set-description">
        Strip steak turducken kevin salami, boudin landjaeger jowl.
      </div>
    </div>
    <div
      class="skill-set"
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="15"
    >
      <mat-icon
        class="icon"
        [svgIcon]="'code'"
      ></mat-icon>
      <div class="skill-set-heading">
        FRONTEND
      </div>
      <div
        class="skill-set-description">
        Strip steak turducken kevin salami, boudin landjaeger jowl.
      </div>
    </div>

  </div>

</div>
